@font-face {
  font-family: 'NotoSans';
  src: url("src/assets/fonts/NotoSans-Regular.woff2") format('WOFF2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  src: url("src/assets/fonts/NotoSans-Bold.woff2") format('WOFF2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  src: url("src/assets/fonts/NotoSans-SemiBold.woff2") format('WOFF2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

h1{

}
h2{

}
p{

}