.mainTitle{
  font-size: 56px;
  text-align: center;
  margin-top: 24px;
  user-select: none;
}
.list{
  margin-top: 32px;
  background: #e7e7e7;
  box-shadow:
          inset 6px 6px 15px rgba(0, 0, 0, 0.8),
          inset -6px -6px 15px rgba(0, 0, 0, 0.8);
  padding: 32px;
  border-radius: 32px;
  border: 1px solid #d7d2d2;
}
.listCont{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 8px 16px 8px 28px;
  border-radius: 32px;
  height: 720px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
.item{
  cursor: pointer;
  background-color: #10141e;
  padding: 16px 32px;
  border-radius: 16px;
  border: 3px solid #bec1c9;
  &__title{
    font-size: 24px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
  }
  &__subtitle{
    font-size: 16px;
    opacity: 0.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
::-webkit-scrollbar{
  background-color: #3b3b3b;
  border-radius: 4px;
  scrollbar-width: thin;
  width: 10px;
}


::-webkit-scrollbar-thumb{
  background-color: #696969;
  border-radius: 4px;
}

